<input [(ngModel)]="newMessage.value" (blur)="saveMessage()" placeholder="your message here"/>
<button>Send</button>
<!--<p>{{msg.value | uppercase}}</p>-->
<div *ngIf="messages">
    <p *ngFor="let message of messages">
        {{message.value}}
    </p>
</div>
