/* You can add global styles to this file, and also import other style files */
body, input {
  font-family: 'Quicksand', sans-serif;
  font-size: 1.2rem;
}
body {
  background-color: GhostWhite;
}
input {
  border-radius: .5rem;
  border-width: thin;
  outline: none; /* hide outline that appears on focus */
  padding: 0 .5rem .2rem;
}
input[type=submit] {
  background-color: #e9e9e9;
}
main {
  margin: 0 auto;
  width: 370px;
}
#chat {
  margin-top: 1rem;
  min-height: 300px; 
  mix-blend-mode: hard-light; /* see https://css-tricks.com/almanac/properties/m/mix-blend-mode/ */
}
#chat:after {
  position: absolute;
  content: "";
  left: 0px;
  bottom: 0px;
  height: 40%;
  width: 100%;
  background: linear-gradient(transparent, GhostWhite);
}